<div class="about-us">
  <h1 class="about-title">About Rami Giovanni</h1>
  <img src=("/public/images/rami2.jpg")/>
<p class="about-p"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu scelerisque felis imperdiet proin fermentum leo. Amet commodo nulla facilisi nullam vehicula ipsum a arcu. Odio ut enim blandit volutpat maecenas volutpat blandit aliquam. Purus viverra accumsan in nisl. Semper quis lectus nulla at volutpat diam ut venenatis. Sed tempus urna et pharetra pharetra massa massa ultricies mi. Viverra adipiscing at in tellus. Sollicitudin aliquam ultrices sagittis orci a scelerisque purus. Aliquam id diam maecenas ultricies mi eget mauris pharetra. Feugiat in ante metus dictum at. Elementum eu facilisis sed odio morbi. Eget egestas purus viverra accumsan in nisl. Ac turpis egestas integer eget aliquet. Mattis pellentesque id nibh tortor id aliquet lectus.
</p>
</div>


