<div class="cart-page">
  <div class="container-fluid">
    <h1 class="empty"> Your cart is empty!</h1>
    <h3 class="empty">  Go back to our products list to add items</h3>
    <a class="empty-button btn btn-primary" href="/attires/all"> All products  </a>
</div>
</div>