<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<br>
{{#if user}}
Welcome {{user.username}}
<form action="/logout" method="POST">
  <button type="submit">Log out</button>
</form>
<a href="/private">Private</a>
{{else}}
<a href="/signup">Sign up</a>
<a href="/login">Log in</a>
{{/if}}

<a href="/attires"> attire list </a>
<a href="/attire/create"> Create attire  </a>
