.account{
 color: #fbceb5;
}

.here{
  width: 100%;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #000;
  background: #fff;
}

.btn.btn-primary {
  background: #fbceb5 !important;
  border: 1px solid #fbceb5 !important;
  color: #000 !important;
}

.checkbox-primary{
  color: #fbceb5;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}

.login-wrap .social a {
  width: 100%;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #000;
  background: #fff;
}

.text-center{
  color: #fbceb5;
}

btn.btn-primary{
  background: #fbceb5 !important;
  border: 1px solid #fbceb5 !important;
  color: #000 !important;
}

.here{
  margin-left: 57PX;
  margin-top: -23px;
}

.navbar-nav{
  margin-left: 450px;
}

.dalia-nav{
  margin-left: 90px;
}