.account{
 color: #fbceb5;
}

.here{
  width: 100%;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #000;
  background: #fff;
}

.btn.btn-primary {
  background: #fbceb5 !important;
  border: 1px solid #fbceb5 !important;
  color: #000 !important;
}

.checkbox-primary{
  color: #fbceb5;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}

.login-wrap .social a {
  width: 100%;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #000;
  background: #fff;
}

.text-center{
  color: #fbceb5;
  font-weight: lighter;
}

.lighter{
  color: #fbceb5;
  font-weight: lighter;
}

btn.btn-primary{
  background: #fbceb5 !important;
  border: 1px solid #fbceb5 !important;
  color: #000 !important;
}

.att-info-btn{
  width: 117px;
  margin-top: 30px;
  
}


.here{
  margin-left: 57PX;
  margin-top: -23px;
  background: #fbceb5 !important;
  border: 1px solid #fbceb5 !important;
  color: #000 !important;
 
}


.navbar-nav{
  margin-left: 450px;
}

.dalia-nav{
  margin-left: 90px;
}

.type{
  text-align: center;
  font-weight: lighter;
  margin-top: 20px;
  color: white;
}

.type1{
  text-align: center;
  font-weight: lighter;
  margin-top: -10px;
  color: white;
}

.card-title{
  text-align: center;
  font-weight: lighter;
}

.card-text{
  text-align: center;
  font-weight: lighter;
}

.row{
  margin-top: 40px;
}

.card{
  margin-top: 30px;
}

.backgroundimage{
  background-size: cover;
  background-attachment: fixed;
  height: 3000px;
  
}

.sign{
  background: #fbceb5 !important;
  border: 1px solid #fbceb5 !important;
  color: #000 !important;
}

.image-details{
  height: 500px;
  width: 500px;
  border-radius: 10px;
  margin-left: 626px;
}

.attire-name{
color: white;
font-weight: lighter;
}

.attire-price{
  color: white;
font-weight: lighter;
}

.attire-information{
  border: 1px solid white;
  border-radius: 10px;
  height: 500px;
  width: 500px;
  text-align: center;
  color: white;
  font-weight: lighter;
  margin-top: -500px;
}

.available{
  margin-bottom: 2px;
  margin-top: 5px;
}

.empty{
  text-align: center;
  font-weight: lighter;
  color: white;
}

.empty-button{
  margin-left: 643px;
}

.cart-page{
  margin-top: 90px;
}

.cart-image{
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.description{
  COLOR: WHITE;
  FONT-WEIGHT: lighter;
}

.info{
  color: white;
}

.cart{
  color: white;
}

.opacity{
  opacity: 50%;
}

.about-title{
  color:white;
  text-align: center;
  font-weight: lighter;
}

.about-p{
  color:white;
  text-align: center;
  font-weight: lighter;
}

.admin{
  margin-bottom: 5px;
}

.create{
  height: 40px;
  margin-top: -23px;
}



